<div class="container">
    <form action="/reminders" method="GET">
      <div class="form-group">
        <label for="friends">Enter an email to add them as a friend!</label>
        <input name="friend" class="form-control form-control-lg" placeholder="Friend's email">
      </div>
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
  </div>