<div class="container">
    <form action="/reminder" method="POST">
      <div class="form-group">
        <label for="friends">Enter email of friend to add</label>
        <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Friend" name="friends"></textarea>
      </div>
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
  </div>